


	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
            <br>
<br>
			<div class="row">
				<div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<img src="assets/images/nounouu.png"><br>

            <div class="w-size25">
							<!-- Button -->
						<input type="file" value="insert here" >
              
						</div>

					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							my new product
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" placeholder="Name" id="newname">
						</div>

					

						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text"  placeholder="price" id="newprice">
						</div>

						<textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20"  placeholder="Description" id="newdesc"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" >
								update
							</button>

						</div> <br>
            
						
					</form>
				</div>
			</div>
		</div>
	</section>

